<div class="login-register">
    <div class="signin-box">

        <img src="resources/css/img/nuiglogo.png" class="loginlogo" />
        <div class="form-heading">
            <p>Registration Form</p>
        </div>
        <form id="myLogin" ng-submit="register()" novalidate>
            <input type="text" id="username" ng-model="username" placeholder="Username" required>
            <input type="password" id="password" ng-model="password" placeholder="Password" required>
            <button type="submit" class="submit-btn"></button>
        </form>
        
        <div class="reg-failed-div" ng-if="moreReq">
            <p>Both username and password required</p>
        </div>
        
        <div class="reg-failed-div" ng-if="usernameTaken">
            <p>Username is already taken</p>
        </div>
        
        <p class="sign-up">Already registered - <a class="sign-up-btn" ui-sref="login">Login</a></p>
        
    </div>
</div>

